#cards-container {
  padding: 2rem;
  text-align: center;
}

.card {
  width: 25%;
  border: 2px solid lightblue;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}

.card img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.card-btn {
  display: block;
  margin-inline: auto;
  padding: 0.25rem 3rem;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  margin-bottom: 0.5rem;
}
